.box {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, 0.2);
  padding: 1%;
  border-radius: 2px;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1.5%;
  clear: both;
  background-color: White; }

.formulaire {
  margin: auto;
  border-radius: 2px;
  border: 1px dashed #ccc;
  clear: both; }
  .formulaire .label {
    float: left;
    color: Black;
    text-align: right; }
  .formulaire input, .formulaire textarea, .formulaire select {
    margin-bottom: 1%;
    box-shadow: #8C2F26; }
  .formulaire button {
    font-size: 15px;
    float: right;
    color: #E0E0E0;
    border: none;
    border-radius: 2px;
    padding: .5% 0; }
  .formulaire .btn1 {
    background-color: #A51107; }
  .formulaire .btn2 {
    background-color: #0F6B1C;
    margin-right: 16%; }
  .formulaire input:focus, .formulaire textarea:focus {
    background: #fff;
    border: 1px solid #8C2F26;
    box-shadow: 0 0 3px #aaa; }

h1 {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0px 2px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  color: Black;
  letter-spacing: 4px;
  font: normal 26px/1 Verdana;
  position: relative; }

@media only screen and (min-width: 401px) and (max-width: 799px) {
  article button {
    margin: 0 2%; } }
@media only screen and (max-width: 480px) {
  .label {
    margin: 0;
    margin-right: 2%;
    padding: 0;
    border: 0;
    margin-left: -15%; }

  .formulaire h1 {
    font-size: 125%;
    margin: 4% 0; } }

/*# sourceMappingURL=ajouter_annonce.css.map */
