@charset "UTF-8";
@keyframes AutoSlide {
  0% {
    left: 0%;
    /*1├¿re image*/ }
  10% {
    left: 0%;
    /*idem pour attente*/ }
  20% {
    left: -100%;
    /*2├¿me image*/ }
  30% {
    left: -100%;
    /*idem pour attente*/ }
  40% {
    left: -200%;
    /*3├¿me image*/ }
  50% {
    left: -200%;
    /*idem pour attente*/ }
  60% {
    left: -300%;
    /*idem pour attente*/ }
  70% {
    left: -300%;
    /*idem pour attente*/ }
  80% {
    left: -400%;
    /*idem pour attente*/ }
  90% {
    left: -400%;
    /*idem pour attente*/ }
  100% {
    left: 0px;
    /*1├¿re image*/ } }
header {
  margin: 0; }

article {
  margin: 0;
  padding: 0; }

.slider {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.content {
  position: relative;
  top: 0;
  left: 0;
  width: 500%;
  margin: 0;
  padding: 0;
  animation-name: AutoSlide;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }
  .content li {
    display: inline;
    margin: 0;
    padding: 0; }
  .content img {
    width: 20%;
    margin: 0;
    padding: 0; }

.box {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, 0.2);
  padding: 1%;
  border-radius: 2px;
  margin-top: 1%;
  margin-bottom: 1.5%;
  background-color: White; }

.formulaire {
  border-radius: 2px;
  border: 1px dashed #ccc;
  text-align: center; }
  .formulaire .label {
    float: left;
    color: Black; }
  .formulaire input, .formulaire textarea, .formulaire select {
    margin-bottom: 1%;
    box-shadow: #8C2F26; }
  .formulaire button {
    font-size: 15px;
    float: right;
    color: #E0E0E0;
    border: none;
    border-radius: 2px;
    padding: .5% 0; }
  .formulaire .btn2 {
    background-color: #0F6B1C;
    margin-right: 16%; }
  .formulaire input:focus, .formulaire textarea:focus {
    background: #fff;
    border: 1px solid #8C2F26;
    box-shadow: 0 0 3px #aaa; }

h1 {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0px 2px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  color: Black;
  letter-spacing: 4px;
  font: normal 26px/1 Verdana;
  position: relative; }

.art {
  clear: right;
  text-align: center;
  margin-top: 7%; }
  .art div {
    float: left; }

footer {
  clear: left; }

@media only screen and (min-width: 401px) and (max-width: 799px) {
  .label {
    margin: 0;
    display: block;
    text-align: center;
    width: 100%; }

  .formulaire .btn2 {
    margin: 0; }

  .button {
    width: 100%;
    text-align: center;
    float: left; }
    .button button {
      margin: auto;
      float: none; } }
@media only screen and (max-width: 400px) {
  .box {
    margin-left: 23%; }

  .formulaire .label {
    margin: auto;
    text-align: center;
    width: 100%; }
  .formulaire .btn2 {
    float: left;
    margin-left: 35%; }

  h1 {
    font-size: 150%;
    margin: 4% 0; }

  .art {
    clear: right;
    text-align: center;
    margin-top: 10%; }
    .art div {
      float: left;
      margin-top: 5%; } }

/*# sourceMappingURL=index.css.map */
