aside {
  float: left;
  background-color: #F0EFEF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, 0.2); }
  aside .div {
    padding-left: 5%;
    padding-bottom: 6%; }
  aside li {
    list-style: none; }
    aside li a {
      text-decoration: none;
      color: Black; }
    aside li a:hover {
      color: Grey; }
  aside button {
    color: #E0E0E0;
    border: none;
    border-radius: 2px;
    padding: 1%; }
  aside .b1 {
    background-color: #0F6B1C; }
  aside .b2 {
    background-color: #A51107; }

article {
  float: right; }
  article .image {
    float: left;
    margin-bottom: 1.5%; }
  article .text {
    float: right; }
  article h4 {
    margin: 0;
    margin-top: 2%; }
  article .bc {
    margin-left: 10%;
    border-radius: 5px;
    border: 0;
    background-color: #0F6B1C;
    padding: 0.5%;
    color: White; }
  article .bm {
    background-color: #0F6B1C; }
  article .bs {
    background-color: #A51107; }
  article .bm, article .bs {
    border: 0;
    border-radius: 5px;
    margin: .5%;
    color: White; }
  article .botones {
    float: right; }
    article .botones button {
      float: right; }

footer {
  clear: both; }

@media only screen and (min-width: 800px) {
  .aside2 {
    display: none; } }
@media only screen and (min-width: 401px) and (max-width: 799px) {
  .image, h2 {
    text-align: center; }

  .aside2 {
    display: none; }

  .desc {
    text-align: justify; }

  .desc, .contact, .botones {
    margin: 10% 0; } }
@media only screen and (max-width: 480px) {
  .image, h2 {
    text-align: center; }

  .m1 {
    float: left;
    text-align: center; }

  article {
    margin-bottom: 10%; }
    article .desc {
      text-align: justify; }
    article .desc, article .contact, article .botones {
      margin: 10% 0; }
    article bc {
      display: block; }

  .aside1 {
    display: none; }

  .aside2 {
    box-shadow: none;
    text-align: center;
    margin-bottom: 10%; }
    .aside2 * {
      margin: auto; }
    .aside2 h4 {
      margin: 0; }
    .aside2 select {
      margin: auto;
      margin-bottom: 10%; }
    .aside2 button {
      background-color: #8C2F26; } }

/*# sourceMappingURL=presentation_annonce.css.map */
