header {
  display: inline-block;
  width: 100%;
  background-color: #F5F5F5;
  margin-bottom: 1%; }

.logop {
  background-color: #8C2F26;
  float: left;
  margin-bottom: 1%; }
  .logop img {
    margin: 0 40%; }

.menu {
  text-align: right; }
  .menu a {
    color: #8C2F26;
    text-decoration: none; }
  .menu li {
    display: inline;
    padding: 1%;
    color: Black; }
    .menu li :hover {
      color: #C5827C; }

.search {
  float: right; }
  .search input {
    border: none;
    padding: 1.5%;
    margin: .5%;
    border-radius: 4px;
    float: right; }
  .search input[type=search] {
    border: 1px solid #fff; }
  .search input[type=search]:focus {
    background: #fff;
    border: 1px solid #8C2F26;
    box-shadow: 0 0 3px #fff; }

footer {
  background-color: #8C2F26;
  color: White;
  text-align: center;
  padding: 2% 0;
  clear: both; }

@media only screen and (min-width: 800px) {
  .menu {
    padding-left: 4%; } }
@media only screen and (min-width: 401px) and (max-width: 799px) {
  header {
    background-color: #E9E9E9; }

  .logos img {
    margin-left: 55%; }

  .menu {
    paddin: 0;
    border: 0;
    margin: 0;
    background-color: #F5F5F5;
    text-align: center; }
    .menu ul {
      margin: 0;
      padding: 0;
      border: 0; }
    .menu li {
      display: block;
      margin: 0 3%;
      float: left;
      text-align: center;
      border-radius: 5px;
      margin-bottom: 1%; }

  .search {
    display: none; } }
@media only screen and (max-width: 400px) {
  header {
    background-color: #E9E9E9; }

  .logos {
    float: left;
    width: 100%; }
    .logos img {
      float: left;
      margin: 0 80%; }

  .menu {
    paddin: 0;
    border: 0;
    margin: 0; }
    .menu ul {
      margin: 0;
      padding: 0;
      border: 0; }
    .menu li {
      display: block;
      float: left;
      text-align: center;
      border-radius: 5px;
      margin-bottom: 1%;
      background-color: #F5F5F5; }

  .search {
    display: none; } }

/*# sourceMappingURL=styleHeader.css.map */
