//Grille
@media only screen and (max-width:400px){
	.row{
		margin:0;
		font-family:Verdana;
		width:100%;
		font-size:.8em;
		background-color:#E9E9E9;
	}

	.col-p-1{
		width:49%;
		margin:0 0.5;
	}
	.col-p-2{
		width:99%;
		margin:0 0.5%;
	}
}

@media only screen and (min-width:401px) and (max-width:799px){
	.row{
		margin:0;
		font-family:Verdana;
		font-size:.8em;
		width:100%;
		background-color:#E9E9E9;
	}

	.col-m-1{
		width:32%;
		margin:0 0.5;
	}
	.col-m-2{
		width:65%;
		margin:0 0.5%;
	}
	.col-m-3{
		width:98%;
		margin:0 0.5%;
	}
}

@media only screen and (min-width:800px){
	.row{
		margin:0;
		font-family:Verdana;
		width:100%;
		font-size:0.8em;
		background-color:#E9E9E9;
	}

	.col1{
		width:7.3%;
		margin:0 0.5;
	}
	.col2{
		width:15.6%;
		margin:0 0.5%;
	}
	.col3{
		width:23.9%;
		margin:0 0.5%;
	}
	.col4{
		width:32.2%;
		margin:0 0.5%;
	}
	.col5{
		width:40.5%;
		margin:0 0.5%;
	}
	.col6{
		width:48.8%;
		margin:0 0.5%;
	}
	.col7{
		width:57.1%;
		margin:0 0.5%;
	}
	.col8{
		width:65.4%;
		margin:0 0.5%;
	}
	.col9{
		width:73.7%;
		margin:0 0.5%;
	}
	.col10{
		width:82%;
		margin:0 0.5%;
	}
	.col11{
		width:90.3%;
		margin:0 0.5%;
	}
	.col12{
		width:98.6%;
		margin:0 0.5%;
	}
}