aside{
	float:left;
	background-color:#F0EFEF;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),  
                0 1px 1px rgba(0, 0, 0, .2),
                0 3px 0 #fff,
                0 4px 0 rgba(0, 0, 0, .2),
                0 6px 0 #fff,  
                0 7px 0 rgba(0, 0, 0, .2);
	
	.div{
		padding-left:5%;
		padding-bottom:6%;
	}
	
	li{
		list-style:none;
		
		a{
			text-decoration:none;
			color:Black;
		}
		
		a:hover{
			color:Grey;
		}
	}
	button{
		color:#E0E0E0;
		border:none;
		border-radius:2px;
		padding:1%;
	}
	.b1{background-color:#0F6B1C;}
	.b2{background-color:#A51107;}
}

article{
	float:right;
	.image{float:left;
		margin-bottom:1.5%;}
		
	.text{float:right;}
	
	h4{margin:0;
		margin-top:2%;}
		
	.bc{margin-left:10%;
		border-radius:5px;
		border:0;
		background-color:#0F6B1C;
		padding:0.5%;
		color:White;
	}
	
	.bm{background-color:#0F6B1C;}
	.bs{background-color:#A51107;}
	.bm,.bs{border:0;
		border-radius:5px;
		margin:.5%;
		color:White;}
	
	
	.botones{float:right;
		button{float:right;}
	}
}

footer{
	clear:both;
}
@media only screen and (min-width:800px){
	.aside2{display:none;}
}

@media only screen and (min-width:401px) and (max-width:799px){
	.image,h2{text-align:center}
	.aside2{display:none;}
	.desc{text-align:justify;}
	.desc,.contact,.botones{margin:10% 0;}

}

@media only screen and (max-width:480px){
	.image,h2{text-align:center}
	.m1{
		float:left;
		text-align:center;
		
	}
	
	article{
		margin-bottom:10%;
		.desc{text-align:justify;}
		.desc,.contact,.botones{margin:10% 0;}
		
		bc{display:block;}
	}
	
	.aside1{
		display:none;
	}
	
	.aside2{
		*{margin:auto;}
		box-shadow:none;
		text-align:center;
		margin-bottom:10%;
		
		h4{margin:0;}
		
		select{margin:auto;
		margin-bottom:10%;}
		
		button{background-color:#8C2F26}
	}
}
