.box{
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),  
                0 1px 1px rgba(0, 0, 0, .2),
                0 3px 0 #fff,
                0 4px 0 rgba(0, 0, 0, .2),
                0 6px 0 #fff,  
                0 7px 0 rgba(0, 0, 0, .2);
	padding:1%;
	border-radius:2px;
	margin-top:1%;
	margin-left:10%;
	margin-bottom:1.5%;
	float:left;
	background-color:White;
}

.formulaire{
	border-radius:2px;
	border: 1px dashed #ccc;
	
	
	.label{
		float:left;
		color:Black;		
	}
	
	input,textarea,select{
		margin-bottom:1%;
		box-shadow:#8C2F26;	
	}
	button{
		font-size:15px;
		float:right;
		color:#E0E0E0;
		border:none;
		border-radius:2px;
		padding:.5% 0;
	}
	.btn1{background-color:#A51107; }
	.btn2{background-color:#0F6B1C; margin-right:16%;}
	
	input:focus,textarea:focus{
		background: #fff; 
		border: 1px solid #8C2F26; 
		box-shadow: 0 0 3px #aaa;
	}
}

.form1{
	text-align:center;
	.label{
		width:100%;
		text-align:center;
	}
	
	.button{
		width:100%;
		
		button{
			margin:auto;
			float:none;
		}
	}
}
h1{
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-align: center;
    color: Black;
    letter-spacing: 4px;
	margin-bottom:5%;
    font: normal 26px/1 Verdana;
	position:relative;
}


footer{clear:both;}

@media only screen and (min-width:800px){
	.label{
		text-align:right;		
	}
}

@media only screen and (min-width:401px) and (max-width:799px){
	article{
	margin:0;
	padding:0;
	border:0;
	
	.box{margin:1%;}
	}
	.f1{width:30%;}
	.f2{width:60%;
		.label{
			text-align:right;}
	}
}

@media only screen and (max-width:480px){
	.box{text-align:center;}
	.label{
		float:none;
		margin:0;
		padding:0;
		border:0;
		width:100%;
	}
	.formulaire{
		text-align:center;
		h1{
			font-size:125%;
			margin:4% 0;}
		
		.btn2{
			margin-right:30%;
		}
		button{
			margin:0;
			padding:0;
			border:0;
			margin:1%;
		}
	}
	
	.f1{width:75%;}
	.f2{margin-bottom:5%;}
	
	
}


